## Anaconda

In Anaconda findet sich eine **Sammlung von Programmen und Bibliotheken** für das Arbeiten mit Datensätzen (Data Science), sei das in Python, der statistischen Programmiersprache R oder anderen.

+ **NumPy, Pandas, matplotlib, SciPy** und viele andere Bibliotheken befinden sich in Anacondas Standard-Umgebung.


+ Die IPython **QT Console** eignet sich für Tests kleiner Code-Fragmente.


+ **Jupyter Notebooks** eignen sich hervorragend für  kleinere Projekte und das Arbeiten mit Datensätzen.


+ Mit **Spyder** steht auch eine Matlab-ähnliche Programmierumgebung für größere Projekte zur Verfügung.


+ Wer einfach ```python``` und einen Editor gemeinsam verwenden will, ist mit **Visual Studio Code** gut beraten.

# Python 101
### Angewandte Systemwissenschaften II 
#### Python - Wonderland
Einheit 1 / 10

# Semesterplan
---
0. Anaconda und Pip
1. **Einführung in Python (Wiederholung der Comp. Basics VO Inhalte)**
2. Matplotlib: Eine Einführung ins Wonderland - Modell
3. Jupyter-Notebooks: Wonderland in Python
4. Funktionale Programmierung & Python-Module
5. Python-Pakete und Workflow
6. Agenten-basierte Modellierung
7. Objekt-orientierte Programmierung 
8. Animationen zur Modellentwicklung
9. Multiprocessing & Sensitivity Analysis
10. Projektpräsentationen

## Inhalt
+ Programmiergrundlagen
+ Python-Einleitung
+ Typen
+ Kollektionen
+ Funktionen
+ If-Abfragen
+ Rekursion
+ Schleifen
+ Comprehensions

## Warum brauchen wir Programmiersprachen?

+ Computer 'verstehen' nur binären Code, also 0-er & 1-er \
  Der Befehlscode ```1 0 0 0 0 s s s``` sagt zB dem Intel 8008 Prozessor, \
  dass er die binäre Zahl ```s s s``` zum Wert in seinem Register addieren soll.

+ Ein **Assembler** kann uns für diese Computersprache ein anderes Vokabular geben: \
  ```ADD s``` wird vom Intel 8008 Assembler zu ```1 0 0 0 0 s s s``` übersetzt. \
  ```ADD 3``` wird also zu ```1 0 0 0 0 0 1 1``` und addiert 3 zum Wert im Register.

+ Ein **Compiler** kann von einer Sprache wie zB C oder C++ in die binäre Sprache übersetzen. \
  Man nennt diesen Vorgang **kompilieren**. \
  Der Compiler tausch also nicht nur einfach die Vokabeln aus, sondern übersetzt auch \
  grammatikalische Unterschiede. Die sogenannte Syntax. \
  \
  Das Ergebnis ist dann eine **Binärdatei**. Auf Windows ist eine ausführbare Binärdatei zB ```Internet Explorer.exe```

+ Ein **Interpreter** übersetzt nicht mehr ein ganzes Programm, sondern interpretiert Zeile für Zeile. \
  Dies abstrahiert noch etwas mehr vom eigentlichen, binären Computercode. \
  **Python** wird oft als interpretierte Sprache bezeichnet. Das Program ```python``` ist der zugehörige Interpreter.

## Python-Einleitung

Den Python-Interpreter startet man mit dem Konsolenbefehl ```python```. \
Um Anaconda's Python zu benutzen, öffnet man die Anaconda-Shell:

+ Windows: ```[Win]```-Taste drücken und dann "Anaconda" eingeben und die "Anaconda Powershell" auswählen.

+ macOS: In der Spotlight-Suche (Tastaturbefehl: ```[CMD] + [Leer]```) "Terminal" eingeben und auswählen.

+ Linux: Den Terminal öffnen.

Die Kommandozeile sollte nun mit ```(base)``` beginnen.

<div class="alert alert-block alert-info">
<h3>Tipp: Anaconda initialisieren</h3>
<p>
    Du möchtest die <code>conda</code>-Befehle auch in der normalen Powershell oder einer anderen Shell benutzen können? <br>
    <code>conda activate</code> funktioniert nicht, weil Anaconda nicht initialisiert ist? <br>
    <br>
    Mit <code>conda init</code> kannst du die Anaconda initialisieren. Für die Powershell lautet der Befehl dann zB <code>conda init powershell</code>.
    </p>
    <p>
    <b>Achtung:</b> Oft benötigt dieser Befehl Administratorrechte!
    </p>
</div>

Python kann man benutzen wie einen **Taschenrechner**,
einfach mir einfachen Grundrechenarten ausprobieren:

In [1]:
1+6

7

**Kommentare** werden vom Python Interpreter einfach ignoriert. Sie beginnen mit einem ```#```:

In [0]:
# Kommentare beginnen mit einer Raute (Hashtag): #
'''
Blockkommentare können in einem String welcher 
mit drei ' umfasst wird geschrieben werden
'''

*Übrigens:* Ein **String** ist in Python eine **Kollektion** von Buchstaben-Strings:

In [0]:
'abc'[0] # erstes Element von 'abc' -> Index ist 0 ; Ergebnis: 'a'

'a'

## Typen
Daten welche man in Python eingibt, werden vom Interpreter im Speicher abgelegt. \
Vorerst ist wichtig, dass sie dabei einen **Typ zugewiesen** bekommen.

Dieser Typ lässt sich mit der **Funktion** ```type``` abrufen. \
Den Typ ```str``` für Buchstaben (Strings) kennen wir nun schon:

In [0]:
type('abc'), type( "Python" ) # Strings werden von ' oder " Zeichen umfasst

(str, str)

**Ganzzahlen** bekommen den Typ ```int``` (Englisch: Ganzzahl = Integer) zugewiesen, \
**Gleitkommazahlen** werden als ```float``` (Englisch: Floating Point) abgelegt.

In [0]:
type( 10 )==int, type( 1.0 )

(True, float)

Für Werte die entweder **Wahr** (```True```) oder **Falsch** (```False```) sein können, benutzen wir ```bool```s (aus der *Bool'schen Algebra*):

In [0]:
type( True )

bool

## Operatoren
Operatoren sind Zeichen, die zwischen zwei Werte gesetzt eine Funktion ausführen.
+ Vergleichsoperatoren
+ Mathematische Operatoren
+ Binäre Operatoren

Das ```==``` dient als Vergleich zweier Bool'scher Werte, oder auch für Ganzzahlen. \
Es gibt auch ```>=```, ```<=```, ```!=```, ```<``` und ```>```

Alle folgenden Beispiele ergeben ```True```:

In [0]:
1 != 2    ,    1 > 0    ,    True == 1    , \
\
0 != True    ,    1 > False    ,    -2 < False    , \
\
True and True    ,   False or True

Alle folgenden Beispiele ergeben ```False```:

In [0]:
# Alle folgenden Beispiele ergeben False!
not True
False and True
False or False

Einfach ausprobieren:

In [0]:
1 > False

<div class="alert alert-block alert-info">
<h3>Tipp: Vergleich von 'float's</h3>
    
Die Darstellung von Zahlen des Typs ```float``` ist sehr genau. \
Oft will man aber, dass ```17.00000 == 17.00001``` trotzdem ```True``` ergibt. \
Deshalb prüft man bei ```float```s besser: ```a > b-i and a < b+i``` wobei ```i``` das Toleranzintervall darstellt.
</div>

**Ganzzahlen und Gleitkommazahlen** lassen sich  **in mathematischen Operationen mischen**,\
das Ergebnis ist dann (fast) immer ein ```float```.

Folgende Beispiele funktionieren so:

In [0]:
1 + 2.0 # float
2.0 * 3 # float
1 / 3 # float -> auch eine Operation auf zwei Ganzzahlen kann eine float ergeben
1 // 3 # int -> "floor divide" runded auf die nächste Ganzzahl ab
6 // 5.0 # float -> rundet trotzdem weiter ab
6%5 # int -> Gibt den Rest der Division 6/5, also 1

1

Einfach ausprobieren:

In [0]:
1 + 2.0

Mit der Funktion ```print``` kann man sich Werte ausgeben lassen:

In [0]:
print(False > -1)

# Das letzte Element einer Zelle wird immer automatisch ausgegeben
"Ende der Mini-Einleitung"

True

'Ende der Mini-Einleitung'

<div class="alert alert-block alert-info">
<h3>Tipp: Nützliche Funktionen um Python besser kennen zu lernen und zu verstehen</h3>
    
Mit der Funktion ```dir``` lassen sich alle Methoden welche man auf einem Objekt aufrufen kann anzeigen:
</div>

In [0]:
print(dir(list()))

<div class="alert alert-block alert-info">
    <h3>Tipp: Nützliche Funktionen der <b>QT Console</b>, von <b>Jupyter</b> und anderen IPython-Anwendungen</h3>
    
Alternativ kann man den Cursor auch einfach hinter ```list().``` oder eine Liste setzen und \
dann die ```Tabulator``` - Taste drücken!

Drückt man die ```Shift``` - und die ```Tabulator``` - Taste gleichzeitig, wird einem auch ein kleines Hilfsfenster angezeigt. \
Dieses ist angepasst daran, wo man sich gerade mit dem Cursor befindet. Probier es aus!
</div>

<div class="alert alert-block alert-info">
    <h3>Tipp: Mit 'dis' den Interpreter erkunden</h3>
    
Die Funktion ```dis``` zeigt euch, was im Hintergrund in einer Python-Funktion passiert. \
Um eine Funktion zu erzeugen kann man einfach ```lambda : ``` vor alles schreiben,
was man zerlegt angezeigt haben will:
</div>

In [0]:
from dis import dis
print( dis(lambda : print('Hallo')) )
print( "" )  # Leerzeile
print( dis(lambda : 1+3) )

#eval("abs")

## Abfalldaten importieren

Mit der Software - Bibliothek ```pandas``` können wir Datensätze importieren, durchsuchen und bearbeiten. \
Wir importieren die Abfalldaten der Steiermark für das Jahr 2016 aus einer ```.csv``` - Datei (**C**omma **S**eparated **V**alues) um damit in Folge **Python zu üben**.

In [0]:
import pandas as pd

data = pd.read_csv("OGD_Abfalldaten_Stmk_2016_auf_Gemeindeebene.csv",encoding='ansi',sep=';'
                  ,thousands='.',decimal=',')
data

,Jahr,VKZ,Abfallwirtschaftsverband,GKZ_2015,Gemeindename,EW_Gde,HFR,Abfallgruppen,FNr,Abfallfraktion,Masse in kg,kg/EW
0,2016.0,0.0,Graz-Stadt,60101.0,Graz,280258.0,3.0,Restmüll inkl. Sperrmüll,1.0,Gemischte Siedlungsabfälle (Restmüll),50927769.0,181.72
1,2016.0,0.0,Graz-Stadt,60101.0,Graz,280258.0,3.0,Restmüll inkl. Sperrmüll,2.0,Sperrige Siedlungsabfälle (Sperrmüll),8830870.0,31.51
2,2016.0,0.0,Graz-Stadt,60101.0,Graz,280258.0,4.0,Bioabfall - Biogene Siedlungsabfälle,4.0,Bioabfall getrennt erfasst (Biotonne),21996780.0,78.49
3,2016.0,0.0,Graz-Stadt,60101.0,Graz,280258.0,4.0,Bioabfall - Biogene Siedlungsabfälle,27.0,kommunale Garten- und Parkabfälle,6208450.0,22.15
4,2016.0,0.0,Graz-Stadt,60101.0,Graz,280258.0,5.0,Straßenkehricht,6.0,Straßenkehricht,626730.0,2.24
...,...,...,...,...,...,...,...,...,...,...,...,...
7336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Betrachtet man sich die **unteren Zeilen** in ```data``` fällt einem auf, dass hier alle Werte nur ```NaN``` lauten.
Dieses ```NaN``` steht für **Not a Number** und bedeutet nichts anderes, als dass keine Werte vorhanden sind.

Um solche **Leerzeilen** aus unserem Datensatz zu filtern, können wir auf ```data``` die **Methode** ```dropna``` aufrufen. Dies geschieht indem wir einen Punkt ```.``` zwischen **Objekt** und **Methode** setzen und sie mit ```()``` **aufrufen**.

In [0]:
data_gefiltert = data.dropna()
data_gefiltert

,Jahr,VKZ,Abfallwirtschaftsverband,GKZ_2015,Gemeindename,EW_Gde,HFR,Abfallgruppen,FNr,Abfallfraktion,Masse in kg,kg/EW
0,2016.0,0.0,Graz-Stadt,60101.0,Graz,280258.0,3.0,Restmüll inkl. Sperrmüll,1.0,Gemischte Siedlungsabfälle (Restmüll),50927769.0,181.72
1,2016.0,0.0,Graz-Stadt,60101.0,Graz,280258.0,3.0,Restmüll inkl. Sperrmüll,2.0,Sperrige Siedlungsabfälle (Sperrmüll),8830870.0,31.51
2,2016.0,0.0,Graz-Stadt,60101.0,Graz,280258.0,4.0,Bioabfall - Biogene Siedlungsabfälle,4.0,Bioabfall getrennt erfasst (Biotonne),21996780.0,78.49
3,2016.0,0.0,Graz-Stadt,60101.0,Graz,280258.0,4.0,Bioabfall - Biogene Siedlungsabfälle,27.0,kommunale Garten- und Parkabfälle,6208450.0,22.15
4,2016.0,0.0,Graz-Stadt,60101.0,Graz,280258.0,5.0,Straßenkehricht,6.0,Straßenkehricht,626730.0,2.24
...,...,...,...,...,...,...,...,...,...,...,...,...
4416,2016.0,16.0,Weiz,61766.0,Weiz,11431.0,8.0,Diverse Abfälle,50.0,Sonstige Abfälle - nicht einzeln angeführt,8606.0,0.75
4417,2016.0,16.0,Weiz,61766.0,Weiz,11431.0,9.0,Baurestmassen,21.0,Bauschutt,296670.0,25.95
4418,2016.0,16.0,Weiz,61766.0,Weiz,11431.0,9.0,Baurestmassen,54.0,Asbestzement,9530.0,0.83
4419,2016.0,16.0,Weiz,61766.0,Weiz,11431.0,9.0,Baurestmassen,90.0,Baurestmassen - nicht einzeln angeführt,840.0,0.07
4420,2016.0,16.0,Weiz,61766.0,Weiz,11431.0,17.0,Batterien und Akkumulatoren,47.0,Fahrzeugbatterien,2165.0,0.19

<div class="alert alert-block alert-warning">
    <h2>Kollektionen</h2>
    <br>
    Zuerst wollen wir uns den vielen verschiedenen Arten von Kollektionen in Python widmen:
    <ul>
        <li><b>Listen</b></li>
        <li><b>Tupel</b></li>
        <li><b>Wörterbücher</b></li>
        <li><b>Mengen</b></li>
        <li><b>Vektoren / Matrizen</b></li>
    </ul>
</div>

## Listen

Listen sind in Python **sehr häufig** in Gebrauch. Sie sind **mutabel** und **Container**. Was das bedeutet werden wir gleich sehen.

Eine **leere Liste** kann man auf zwei Wegen erstellen: Mit ```[]``` oder mit ```list()```

In [0]:
unsere_liste = [] # Liste wird als eine leere Liste initiiert

Da eine Liste **mutabel** ist können wir ```unsere_liste``` nun **verändern**.

Listen bieten uns die **Methode** ```append``` welche ein Argument entgegennimmt und es in die Liste **einfügt**:

In [0]:
unsere_liste.append(20) # wir fügen den Ganzzahlen-Wert 20 an die Liste an

Da sie auch ein **Container** ist, können wir Objekte **verschiedener Typen** in ihr ablegen:

In [0]:
unsere_liste.append('30') # Wir fügen einen String mit den Zeichen 3 und 0 an
unsere_liste.append(40.0) # Wir fügen eine Gleitkommazahl mit dem Wert 40 an
unsere_liste.append(True) # Wir fügen eine Bool mit dem Wert True an

Wir wollen nun den Inhalt der Liste einmal betrachten:

In [0]:
unsere_liste

[20, '30', 40.0, True]

Mit der Methode ```pop``` können wir nun ein **Element** aus der Liste **herausnehmen**:

In [0]:
ein_element = unsere_liste.pop()

*Welches Element wird als erstes heraus-```pop```-pen?*

In [0]:
ein_element

True

Wie man in der vorherigen Zelle sieht, besteht eine Liste aus einer **leeren Liste**, an welche dann **Elemente angefügt** werden.
Diese Elemente haben **Indizes** *(Mehrzahl Index = lateinisch für „Zeigefinger, Kennzeichen Verzeichnis“)*.

Das **erste Element** bekommt Index ```0```. Diesen schreiben wir in **eckige Klammern** ```[]``` nach der Liste:

In [0]:
unsere_liste[0]

20

*Welchen Index hat das letzte Element?*

*(Tipp: Es gibt mehrere Antworten!)*

In [0]:
index = len(unsere_liste)-1
unsere_liste[index]

40.0

Vielleicht hilft folgende Zelle weiter. Die **Funktion** ```len``` nimmt eine Kollektion als Argument und gibt uns ihre **Länge** aus.

In [0]:
print(unsere_liste)
unsere_liste[len(unsere_liste)-2]
unsere_liste[-2]

Listen lassen sich auch zusammenfügen mit ```+```:

In [0]:
unsere_liste + [1,2,3]

[20, '30', 40.0, 1, 2, 3]

Mit ```*``` lassen sie sich **mehrmals an sich selbst** anfügen:

In [0]:
unsere_liste * 3

[20, '30', 40.0, 20, '30', 40.0, 20, '30', 40.0]

Diese **Operatoren** erstellen eine **neue Liste**. \
Die ursprüngliche Liste wird nicht verändert:

In [0]:
unsere_liste

[20, '30', 40.0]

Benötigt man also das **Ergebnis der Operation**, muss man der neuen Liste auch einen **Namen zuweisen**:

In [0]:
neue_liste = unsere_liste + [1,2,3]
neue_liste

[20, '30', 40.0, 1, 2, 3]

Alternativ kann man eine **Zuweisung zum ursprünglichen Namen** mit der Operation **zusammenfassen** mittels ```+=``` bzw. ```*=```

In [0]:
neue_liste *= 3
print(neue_liste)

[20, '30', 40.0, 1, 2, 3, 20, '30', 40.0, 1, 2, 3, 20, '30', 40.0, 1, 2, 3]

<div class="alert alert-block alert-info">
    <h3>Tipp: Operation + Zuweisung</h3>
    
Nicht nur ```+``` und ```*``` lassen sich mit einem ```=``` in einen **Zuweisungsoperator** verwandeln, sondern alle solchen Operatoren. Eine **Auflistung** der Möglichkeiten findet man im Modul [```operator```](https://docs.python.org/3.2/library/operator.html#operator.iadd)


</div>

**ACHTUNG!** Es werden dabei Referenzen angefügt, nicht Kopien!

Erstellen wir eine Liste mit **drei leeren Listen** als Elementen:

In [1]:
liste_mit_listen = [[]]*3
liste_mit_listen

[[], [], []]

Dann fügen wir an das **erste Element** (*Index* ```0```) der ```liste_mit_listen``` einen Wert an:

In [2]:
liste_mit_listen[0].append("Hallo")

*Wie sieht die* ```liste_mit_listen``` *nun aus?*

In [3]:
liste_mit_listen

[['Hallo'], ['Hallo'], ['Hallo']]

Dieses Problem lässt sich sowohl mit **Tupeln** als auch mit List-Comprehensions vermeiden. \
Zu beidem kommen wir **bald**!

Zurück zu unserer **Abfalldatenbank**! Wir wollen die Massen pro Einwohner in ihr zu einer Liste zusammenfassen:

In [0]:
masse_pro_ew = list(data_gefiltert["kg/EW"])

**Zusätzlich** wollen wir eine **Liste mit den Indizes** dieser Elemente haben, die Funktion ```range``` hilft uns dabei eine **Kollektion mit ganzzahligen Elementen** zu erstellen.

Sie übernimmt **drei ganzzahlige Argumente**: ```start```, ```stop``` & ```step``` \
Das Endwert in ```stop``` befindet sich allerdings **nicht** mehr in der Kollektion:

In [0]:
range(0, len(masse_pro_ew), 1) # beinhaltet also alle Indizes der Elemente in unserer Liste.

range(0, 4421)

**Verpflichtend** ist allerdings nur das Argument ```stop```. \
Wird ```step``` weggelassen ist es automatisch ```1```. Lässt man auch ```start``` weg, ist dieser Wert auf ```0``` gesetzt.

In [0]:
list(range(3,10,2)) # beinhaltet also ebenso alle unsere Indizes

[3, 5, 7, 9]

Mit der Funktion ```zip``` können wir nun, wie bei einem **Reißverschluss (*= Zipper*)** die Elemente der beiden Kollektionen in einer Kollektion zusammenfassen:

In [0]:
list(zip(indizes,masse_pro_ew)) # wir erstellen nach 'zip' wieder eine Liste

[(0, 181.72),
 (1, 31.51),
 (2, 78.49),
 (3, 22.15),
 (4, 2.24),
 (5, 2.5),
 (6, 4.59),
 (7, 24.98),
 (8, 1.42),
 (9, 1.87),
 (10, 0.01),
 (11, 0.08),
 (12, 0.19),
 (13, 0.02),
 (14, 0.02),
 (15, 0.0),
 (16, 0.15),
 (17, 0.6),
 (18, 0.6),
 (19, 20.96),
 (20, 73.29),
 (21, 0.56),
 (22, 1.64),
 (23, 0.2),
 (24, 109.51),
 (25, 15.64),
 (26, 76.95),
 (27, 226.96),
 (28, 3.18),
 (29, 6.23),
 (30, 11.05),
 (31, 0.37),
 (32, 0.57),
 (33, 0.12),
 (34, 0.8),
 (35, 4.35),
 (36, 7.72),
 (37, 5.29),
 (38, 0.26),
 (39, 79.36),
 (40, 28.57),
 (41, 113.55),
 (42, 68.74),
 (43, 3.18),
 (44, 4.0),
 (45, 17.13),
 (46, 0.29),
 (47, 0.17),
 (48, 0.54),
 (49, 0.28),
 (50, 0.83),
 (51, 4.02),
 (52, 13.08),
 (53, 1.62),
 (54, 0.24),
 (55, 122.53),
 (56, 18.98),
 (57, 132.53),
 (58, 3.4),
 (59, 3.43),
 (60, 9.34),
 (61, 14.99),
 (62, 0.35),
 (63, 1.28),
 (64, 0.32),
 (65, 0.28),
 (66, 0.04),
 (67, 1.03),
 (68, 3.17),
 (69, 7.62),
 (70, 0.12),
 (71, 0.34),
 (72, 83.59),
 (73, 25.65),
 (74, 74.02),
 (75, 5.78),
 (76, 3.18),
 (77, 11.95),
 (78, 21.59),
 (79, 0.42),
 (80, 0.79),
 (81, 0.25),
 (82, 2.24),
 (83, 1.55),
 (84, 17.87),
 (85, 1.91),
 (86, 0.06),
 (87, 0.3),
 (88, 113.06),
 (89, 36.09),
 (90, 22.2),
 (91, 2.42),
 (92, 16.21),
 (93, 47.65),
 (94, 0.32),
 (95, 0.18),
 (96, 1.02),
 (97, 0.35),
 (98, 0.43),
 (99, 1.43),
 (100, 2.31),
 (101, 39.59),
 (102, 0.99),
 (103, 0.01),
 (104, 3.33),
 (105, 1.02),
 (106, 91.09),
 (107, 41.76),
 (108, 18.33),
 (109, 3.17),
 (110, 0.31),
 (111, 2.11),
 (112, 0.21),
 (113, 0.0),
 (114, 4.08),
 (115, 70.49),
 (116, 19.34),
 (117, 15.36),
 (118, 2.24),
 (119, 3.18),
 (120, 8.06),
 (121, 16.23),
 (122, 0.36),
 (123, 1.02),
 (124, 0.43),
 (125, 0.27),
 (126, 2.07),
 (127, 1.26),
 (128, 12.52),
 (129, 1.43),
 (130, 0.71),
 (131, 0.53),
 (132, 0.31),
 (133, 118.18),
 (134, 20.19),
 (135, 92.68),
 (136, 8.37),
 (137, 35.15),
 (138, 3.22),
 (139, 4.19),
 (140, 17.24),
 (141, 0.39),
 (142, 0.34),
 (143, 0.91),
 (144, 0.06),
 (145, 0.12),
 (146, 0.39),
 (147, 1.89),
 (148, 15.36),
 (149, 1.9),
 (150, 0.77),
 (151, 0.19),
 (152, 77.07),
 (153, 59.81),
 (154, 20.62),
 (155, 50.87),
 (156, 4.23),
 (157, 27.84),
 (158, 39.04),
 (159, 1.49),
 (160, 1.67),
 (161, 0.45),
 (162, 0.01),
 (163, 0.98),
 (164, 1.67),
 (165, 1.29),
 (166, 37.13),
 (167, 0.59),
 (168, 3.2),
 (169, 108.85),
 (170, 1.43),
 (171, 38.94),
 (172, 3.18),
 (173, 1.71),
 (174, 0.71),
 (175, 0.23),
 (176, 92.82),
 (177, 21.35),
 (178, 167.92),
 (179, 2.79),
 (180, 2.55),
 (181, 2.42),
 (182, 3.19),
 (183, 23.05),
 (184, 0.24),
 (185, 0.44),
 (186, 0.38),
 (187, 0.0),
 (188, 0.56),
 (189, 0.02),
 (190, 0.02),
 (191, 0.47),
 (192, 0.83),
 (193, 1.09),
 (194, 0.13),
 (195, 25.8),
 (196, 0.18),
 (197, 1.73),
 (198, 1.38),
 (199, 1.89),
 (200, 0.75),
 (201, 0.63),
 (202, 0.18),
 (203, 106.25),
 (204, 54.27),
 (205, 11.01),
 (206, 2.58),
 (207, 146.12),
 (208, 3.17),
 (209, 1.63),
 (210, 22.74),
 (211, 0.05),
 (212, 0.66),
 (213, 0.19),
 (214, 1.12),
 (215, 0.01),
 (216, 1.16),
 (217, 0.1),
 (218, 59.77),
 (219, 54.81),
 (220, 4.16),
 (221, 2.42),
 (222, 10.0),
 (223, 34.07),
 (224, 0.19),
 (225, 2.17),
 (226, 0.91),
 (227, 1.01),
 (228, 2.07),
 (229, 1.5),
 (230, 31.11),
 (231, 0.39),
 (232, 6.81),
 (233, 0.95),
 (234, 0.99),
 (235, 108.09),
 (236, 59.33),
 (237, 6.14),
 (238, 31.62),
 (239, 2.42),
 (240, 20.34),
 (241, 43.89),
 (242, 145.26),
 (243, 1.01),
 (244, 4.66),
 (245, 2.21),
 (246, 2.84),
 (247, 1.19),
 (248, 1.88),
 (249, 0.98),
 (250, 98.02),
 (251, 29.43),
 (252, 30.11),
 (253, 29.0),
 (254, 3.18),
 (255, 13.35),
 (256, 24.41),
 (257, 0.11),
 (258, 2.84),
 (259, 1.11),
 (260, 0.14),
 (261, 0.46),
 (262, 1.31),
 (263, 0.9),
 (264, 23.93),
 (265, 2.3),
 (266, 0.51),
 (267, 0.92),
 (268, 44.32),
 (269, 47.05),
 (270, 3.18),
 (271, 16.27),
 (272, 28.81),
 (273, 4.22),
 (274, 1.51),
 (275, 1.92),
 (276, 2.98),
 (277, 19.3),
 (278, 2.57),
 (279, 0.66),
 (280, 85.15),
 (281, 12.96),
 (282, 22.96),
 (283, 3.18),
 (284, 0.25),
 (285, 8.79),
 (286, 0.16),
 (287, 0.45),
 (288, 0.53),
 (289, 1.16),
 (290, 0.04),
 (291, 0.72),
 (292, 76.11),
 (293, 30.1),
 (294, 2.43),
 (295, 25.94),
 (296, 28.47),
 (297, 2.38),
 (298, 7.09),
 (299, 1.22),
 (300, 0.73),
 (301, 1.67),
 (302, 1.18),
 (303, 2.79),
 (304, 0.43),
 (305, 43.5),
 (306, 32.41),
 (307, 13.55),
 (308, 2.42),
 (309, 32.35),
 (310, 23.73),
 (311, 0.48),
 (312, 0.6),
 (313, 0.74),
 (314, 1.01),
 (315, 4.64),
 (316, 16.28),
 (317, 4.4),
 (318, 0.56),
 (319, 78.18),
 (320, 64.17),
 (321, 12.26),
 (322, 9.07),
 (323, 16.33),
 (324, 54.22),
 (325, 0.6),
 (326, 0.7),
 (327, 0.55),
 (328, 2.46),
 (329, 0.08),
 (330, 0.03),
 (331, 97.5),
 (332, 28.58),
 (333, 12.46),
 (334, 7.5),
 (335, 3.18),
 (336, 17.47),
 (337, 36.71),
 (338, 1.41),
 (339, 1.8),
 (340, 0.37),
 (341, 0.39),
 (342, 0.89),
 (343, 0.48),
 (344, 0.91),
 (345, 3.96),
 (346, 1.48),
 (347, 39.01),
 (348, 6.35),
 (349, 1.73),
 (350, 0.17),
 (351, 0.82),
 (352, 82.97),
 (353, 31.82),
 (354, 25.43),
 (355, 32.11),
 (356, 3.18),
 (357, 10.36),
 (358, 24.44),
 (359, 0.09),
 (360, 0.32),
 (361, 0.54),
 (362, 0.59),
 (363, 0.98),
 (364, 4.96),
 (365, 1.14),
 (366, 17.54),
 (367, 1.02),
 (368, 0.32),
 (369, 0.3),
 (370, 55.91),
 (371, 21.41),
 (372, 118.77),
 (373, 58.61),
 (374, 3.18),
 (375, 9.15),
 (376, 18.59),
 (377, 0.54),
 (378, 0.35),
 (379, 0.85),
 (380, 1.41),
 (381, 0.28),
 (382, 1.11),
 (383, 8.62),
 (384, 23.52),
 (385, 2.71),
 (386, 0.47),
 (387, 106.81),
 (388, 54.57),
 (389, 35.54),
 (390, 57.32),
 (391, 3.18),
 (392, 4.82),
 (393, 16.43),
 (394, 0.14),
 (395, 0.24),
 (396, 0.48),
 (397, 0.01),
 (398, 0.67),
 (399, 6.31),
 (400, 0.07),
 (401, 3.49),
 (402, 0.05),
 (403, 0.13),
 (404, 0.41),
 (405, 135.37),
 (406, 30.36),
 (407, 68.54),
 (408, 29.23),
 (409, 4.88),
 (410, 13.83),
 (411, 35.43),
 (412, 3.47),
 (413, 3.23),
 (414, 0.93),
 (415, 1.48),
 (416, 0.96),
 (417, 1.44),
 (418, 7.26),
 (419, 2.87),
 (420, 2.1),
 (421, 0.04),
 (422, 0.18),
 (423, 0.79),
 (424, 97.17),
 (425, 12.62),
 (426, 25.3),
 (427, 1.65),
 (428, 18.59),
 (429, 3.18),
 (430, 19.89),
 (431, 22.06),
 (432, 0.58),
 (433, 2.65),
 (434, 0.64),
 (435, 0.76),
 (436, 2.01),
 (437, 1.44),
 (438, 0.9),
 (439, 4.62),
 (440, 5.17),
 (441, 2.67),
 (442, 2.28),
 (443, 2.42),
 (444, 0.01),
 (445, 95.34),
 (446, 30.85),
 (447, 0.25),
 (448, 5.84),
 (449, 11.2),
 (450, 33.67),
 (451, 1.07),
 (452, 0.86),
 (453, 0.73),
 (454, 0.1),
 (455, 0.66),
 (456, 0.06),
 (457, 0.8),
 (458, 1.23),
 (459, 1.28),
 (460, 27.31),
 (461, 1.05),
 (462, 3.51),
 (463, 0.5),
 (464, 0.64),
 (465, 100.54),
 (466, 16.88),
 (467, 67.3),
 (468, 10.74),
 (469, 47.92),
 (470, 3.18),
 (471, 10.89),
 (472, 17.58),
 (473, 0.37),
 (474, 0.85),
 (475, 0.12),
 (476, 0.12),
 (477, 0.97),
 (478, 1.77),
 (479, 0.07),
 (480, 0.33),
 (481, 1.78),
 (482, 5.13),
 (483, 17.08),
 (484, 0.4),
 (485, 0.49),
 (486, 0.51),
 (487, 128.76),
 (488, 51.32),
 (489, 85.55),
 (490, 0.46),
 (491, 68.28),
 (492, 3.18),
 (493, 5.96),
 (494, 9.75),
 (495, 0.13),
 (496, 0.64),
 (497, 0.03),
 (498, 0.53),
 (499, 0.15),
 (500, 2.3),
 (501, 4.87),
 (502, 0.65),
 (503, 5.21),
 (504, 0.14),
 (505, 0.15),
 (506, 0.46),
 (507, 93.67),
 (508, 31.16),
 (509, 35.43),
 (510, 24.09),
 (511, 3.18),
 (512, 10.99),
 (513, 35.45),
 (514, 0.36),
 (515, 0.94),
 (516, 0.26),
 (517, 0.68),
 (518, 0.0),
 (519, 0.06),
 (520, 0.0),
 (521, 0.27),
 (522, 3.2),
 (523, 0.36),
 (524, 29.22),
 (525, 0.11),
 (526, 0.46),
 (527, 0.29),
 (528, 0.06),
 (529, 0.46),
 (530, 92.08),
 (531, 27.51),
 (532, 39.08),
 (533, 2.42),
 (534, 5.53),
 (535, 16.65),
 (536, 0.84),
 (537, 0.07),
 (538, 0.71),
 (539, 3.96),
 (540, 0.63),
 (541, 0.83),
 (542, 0.76),
 (543, 1.16),
 (544, 0.56),
 (545, 0.12),
 (546, 0.39),
 (547, 92.81),
 (548, 20.45),
 (549, 7.6),
 (550, 44.35),
 (551, 3.18),
 (552, 9.98),
 (553, 20.53),
 (554, 2.1),
 (555, 0.59),
 (556, 0.03),
 (557, 0.88),
 (558, 0.72),
 (559, 0.67),
 (560, 10.29),
 (561, 5.53),
 (562, 1.96),
 (563, 4.64),
 (564, 0.58),
 (565, 67.0),
 (566, 24.13),
 (567, 106.09),
 (568, 16.81),
 (569, 3.18),
 (570, 30.31),
 (571, 0.21),
 (572, 0.6),
 (573, 0.69),
 (574, 0.16),
 (575, 0.42),
 (576, 0.62),
 (577, 0.68),
 (578, 79.55),
 (579, 2.34),
 (580, 0.37),
 (581, 90.3),
 (582, 21.35),
 (583, 2.18),
 (584, 20.06),
 (585, 3.18),
 (586, 11.13),
 (587, 20.86),
 (588, 1.29),
 (589, 2.4),
 (590, 1.01),
 (591, 0.44),
 (592, 0.22),
 (593, 0.51),
 (594, 0.7),
 (595, 1.03),
 (596, 1.15),
 (597, 20.85),
 (598, 1.15),
 (599, 0.64),
 (600, 55.14),
 (601, 16.17),
 (602, 66.59),
 (603, 6.18),
 (604, 5.77),
 (605, 5.35),
 (606, 8.74),
 (607, 0.17),
 (608, 0.76),
 (609, 0.17),
 (610, 0.62),
 (611, 0.75),
 (612, 0.83),
 (613, 0.6),
 (614, 0.27),
 (615, 1.09),
 (616, 0.31),
 (617, 92.64),
 (618, 21.36),
 (619, 87.91),
 (620, 3.48),
 (621, 3.38),
 (622, 4.92),
 (623, 40.32),
 (624, 0.81),
 (625, 0.18),
 (626, 0.21),
 (627, 0.0),
 (628, 0.32),
 (629, 0.27),
 (630, 0.09),
 (631, 0.38),
 (632, 0.0),
 (633, 0.77),
 (634, 7.92),
 (635, 24.15),
 (636, 0.37),
 (637, 4.73),
 (638, 1.57),
 (639, 0.13),
 (640, 0.22),
 (641, 108.68),
 (642, 31.72),
 (643, 50.28),
 (644, 5.95),
 (645, 12.22),
 (646, 21.1),
 (647, 0.77),
 (648, 1.12),
 (649, 1.06),
 (650, 0.62),
 (651, 2.16),
 (652, 0.03),
 (653, 0.12),
 (654, 109.18),
 (655, 16.94),
 (656, 84.73),
 (657, 2.55),
 (658, 5.6),
 (659, 20.15),
 (660, 0.97),
 (661, 0.03),
 (662, 0.42),
 (663, 0.81),
 (664, 4.01),
 (665, 1.13),
 (666, 1.02),
 (667, 3.96),
 (668, 13.75),
 (669, 0.0),
 (670, 0.04),
 (671, 1.54),
 (672, 0.58),
 (673, 0.26),
 (674, 0.42),
 (675, 44.66),
 (676, 11.86),
 (677, 32.58),
 (678, 12.29),
 (679, 17.84),
 (680, 46.0),
 (681, 1.27),
 (682, 0.28),
 (683, 0.82),
 (684, 10.05),
 (685, 61.44),
 (686, 5.53),
 (687, 47.2),
 (688, 14.03),
 (689, 13.83),
 (690, 2.47),
 (691, 4.49),
 (692, 1.15),
 (693, 72.77),
 (694, 39.37),
 (695, 8.01),
 (696, 1.7),
 (697, 18.66),
 (698, 24.62),
 (699, 0.45),
 (700, 0.01),
 (701, 0.08),
 (702, 0.15),
 (703, 0.22),
 (704, 0.5),
 (705, 0.03),
 (706, 0.54),
 (707, 0.56),
 (708, 0.49),
 (709, 0.86),
 (710, 2.98),
 (711, 0.42),
 (712, 2.51),
 (713, 1.91),
 (714, 0.36),
 (715, 2.45),
 (716, 122.26),
 (717, 23.72),
 (718, 5.59),
 (719, 5.54),
 (720, 11.98),
 (721, 88.11),
 (722, 72.38),
 (723, 26.76),
 (724, 5.3),
 (725, 126.82),
 (726, 1.61),
 (727, 53.74),
 (728, 59.56),
 (729, 1.74),
 (730, 2.73),
 (731, 10.24),
 (732, 4.25),
 (733, 2.89),
 (734, 2.84),
 (735, 33.5),
 (736, 0.79),
 (737, 1.51),
 (738, 150.05),
 (739, 35.04),
 (740, 40.25),
 (741, 2.63),
 (742, 5.98),
 (743, 24.06),
 (744, 18.29),
 (745, 23.25),
 (746, 0.37),
 (747, 11.55),
 (748, 0.17),
 (749, 0.62),
 (750, 0.01),
 (751, 0.61),
 (752, 0.01),
 (753, 0.88),
 (754, 1.1),
 (755, 8.72),
 (756, 0.56),
 (757, 0.44),
 (758, 0.62),
 (759, 89.96),
 (760, 40.39),
 (761, 17.65),
 (762, 2.28),
 (763, 12.63),
 (764, 12.98),
 (765, 30.25),
 (766, 0.86),
 (767, 1.02),
 (768, 0.02),
 (769, 0.93),
 (770, 1.11),
 (771, 0.55),
 (772, 6.1),
 (773, 0.34),
 (774, 0.37),
 (775, 108.04),
 (776, 7.56),
 (777, 28.07),
 (778, 7.15),
 (779, 1.66),
 (780, 0.06),
 (781, 82.55),
 (782, 43.79),
 (783, 3.42),
 (784, 1.63),
 (785, 26.23),
 (786, 36.12),
 (787, 2.18),
 (788, 1.98),
 (789, 0.79),
 (790, 5.25),
 (791, 0.92),
 (792, 1.16),
 (793, 0.72),
 (794, 9.42),
 (795, 0.62),
 (796, 94.11),
 (797, 1.28),
 (798, 4.14),
 (799, 11.44),
 (800, 0.21),
 (801, 0.24),
 (802, 92.75),
 (803, 44.85),
 (804, 13.64),
 (805, 4.03),
 (806, 17.5),
 (807, 23.68),
 (808, 36.86),
 (809, 0.19),
 (810, 0.48),
 (811, 0.46),
 (812, 0.02),
 (813, 0.66),
 (814, 1.67),
 (815, 1.24),
 (816, 1.22),
 (817, 108.96),
 (818, 32.01),
 (819, 25.82),
 (820, 2.49),
 (821, 82.49),
 (822, 18.96),
 (823, 32.86),
 (824, 0.07),
 (825, 0.2),
 (826, 0.11),
 (827, 0.83),
 (828, 0.85),
 (829, 1.65),
 (830, 0.51),
 (831, 0.37),
 (832, 81.83),
 (833, 37.1),
 (834, 21.96),
 (835, 2.31),
 (836, 11.32),
 (837, 22.93),
 (838, 31.81),
 (839, 0.2),
 (840, 1.44),
 (841, 1.12),
 (842, 0.98),
 (843, 1.38),
 (844, 0.51),
 (845, 76.92),
 (846, 24.59),
 (847, 15.52),
 (848, 4.28),
 (849, 21.51),
 (850, 27.72),
 (851, 2.62),
 (852, 0.06),
 (853, 0.85),
 (854, 4.28),
 (855, 0.0),
 (856, 1.0),
 (857, 1.12),
 (858, 0.7),
 (859, 6.6),
 (860, 0.54),
 (861, 0.4),
 (862, 71.4),
 (863, 24.57),
 (864, 3.9),
 (865, 27.33),
 (866, 39.3),
 (867, 0.5),
 (868, 0.79),
 (869, 0.75),
 (870, 2.74),
 (871, 2.1),
 (872, 1.68),
 (873, 35.23),
 (874, 5.28),
 (875, 0.81),
 (876, 86.15),
 (877, 30.21),
 (878, 4.15),
 (879, 18.31),
 (880, 16.45),
 (881, 1.21),
 (882, 1.11),
 (883, 0.05),
 (884, 0.73),
 (885, 0.65),
 (886, 0.41),
 (887, 19.79),
 (888, 0.41),
 (889, 0.73),
 (890, 80.4),
 (891, 22.84),
 (892, 4.13),
 (893, 27.5),
 (894, 5.77),
 (895, 0.88),
 (896, 2.13),
 (897, 0.85),
 (898, 0.95),
 (899, 1.12),
 (900, 0.74),
 (901, 7.95),
 (902, 3.04),
 (903, 2.15),
 (904, 124.88),
 (905, 8.26),
 (906, 0.03),
 (907, 4.16),
 (908, 17.59),
 (909, 16.06),
 (910, 1.54),
 (911, 0.05),
 (912, 1.07),
 (913, 2.21),
 (914, 1.15),
 (915, 1.64),
 (916, 5.13),
 (917, 0.38),
 (918, 1.08),
 (919, 106.75),
 (920, 25.43),
 (921, 70.66),
 (922, 1.12),
 (923, 4.09),
 (924, 13.34),
 (925, 12.91),
 (926, 0.97),
 (927, 1.15),
 (928, 0.04),
 (929, 0.64),
 (930, 0.0),
 (931, 0.35),
 (932, 0.82),
 (933, 1.37),
 (934, 15.1),
 (935, 0.74),
 (936, 0.97),
 (937, 0.28),
 (938, 88.72),
 (939, 27.63),
 (940, 17.83),
 (941, 5.37),
 (942, 28.21),
 (943, 4.01),
 (944, 24.33),
 (945, 33.25),
 (946, 1.45),
 (947, 0.59),
 (948, 2.56),
 (949, 0.15),
 (950, 0.57),
 (951, 3.25),
 (952, 1.62),
 (953, 1.59),
 (954, 2.21),
 (955, 1.26),
 (956, 20.77),
 (957, 3.1),
 (958, 2.96),
 (959, 0.99),
 (960, 102.03),
 (961, 43.14),
 (962, 41.69),
 (963, 2.8),
 (964, 7.53),
 (965, 10.26),
 (966, 26.73),
 (967, 0.06),
 (968, 0.02),
 (969, 0.6),
 (970, 0.01),
 (971, 0.01),
 (972, 0.44),
 (973, 0.74),
 (974, 0.45),
 (975, 0.7),
 (976, 0.76),
 (977, 24.0),
 (978, 0.89),
 (979, 1.44),
 (980, 0.07),
 (981, 86.12),
 (982, 46.84),
 (983, 14.38),
 (984, 5.17),
 (985, 16.25),
 (986, 4.16),
 (987, 12.59),
 (988, 29.91),
 (989, 2.47),
 (990, 3.02),
 (991, 0.2),
 (992, 0.07),
 (993, 1.32),
 (994, 0.97),
 (995, 1.06),
 (996, 1.71),
 (997, 0.78),
 (998, 11.57),
 (999, 37.35),
 ...]

*Welchen Typen haben die Elemente dieser Liste?*

## Tupel

Tupel sind die **immutablen** Geschwister von Listen. Dem entsprechend bieten sie **keine** Methoden wie ```append``` oder ```pop```. Ist ein Tupel einmal **initiiert** kann es nicht verändert, sondern nur ein anderes **neues** Tupel geschaffen werden. Warum das wichtig ist, werden wir bald sehen!

Ein leeres Tupel erstellt man entweder mit ```tuple()``` oder mit ```()```.

In [0]:
# Der Typ der Elemente in der Liste 'masse_pro_ew':
type(list(zip(indizes,masse_pro_ew))[0])

tuple

Tupel **eignen** sich vor allem als **Rückgabewert** von Funktionen (*siehe unten*) oder um **zusammengehörige Werte** zusammenzufassen.

In [0]:
tuple(range(3)) + tuple(range(10,13))

(0, 1, 2, 10, 11, 12)

Man kann Tupel also wie Listen mit ```+``` **zusammenfügen**. Die **Wiederholung** mit ```*``` funktioniert ebenfalls nach dem gleichen Prinzip:

In [0]:
tup = tuple(range(3))
tup * 3

(0, 1, 2, 0, 1, 2, 0, 1, 2)

*Wie helfen uns Tupel jetzt das Problem mit der* ```liste_mit_listen``` *zu lösen?*

Da Tupel **nicht mutabel** sind, sich also eigentlich nicht verändern lassen, wird **bei jeder Veränderung ein neues
Tupel** erschaffen und dem Namen zugewiesen. \
Deshalb muss man statt der ```append``` - Methode, den ```+=``` - **in-place Operator** verwenden:

In [4]:
liste_mit_tupeln = [()]*3
liste_mit_tupeln[0] += 1,
liste_mit_tupeln

[(1,), (), ()]

<div class="alert alert-block alert-info">
    <h3>Tipp: Ein-Element-Tupel</h3>
    
Will man **kein leeres** Tupel schaffen sondern eines mit Elementen, braucht man **keine Klammern** ```()```. Es ist **in Wirklichkeit** das Komma ```,``` welches das Tupel erstellt!

Deshalb funktioniert es in der vorhergehenden Zelle ```1,``` zu schreiben.
</div>

Dass ein neues Element erstellt wird, lässt sich leicht mit dem Operator **```is``` überprüfen**.

Verweisen zwei Namen auf **dieselbe ID** (*und damit dasselbe Element im Speicher*) ergibt er ```True```, ansonsten ```False```.

Wir überprüfen einmal die Elemente der ```liste_mit_tupeln``` und dann jene der ```liste_mit_listen```:

In [6]:
liste_mit_tupeln[0] is liste_mit_tupeln[2] , liste_mit_listen[0] is liste_mit_listen[2]

(False, True)

Weisen wir den anderen **Elemente**n in der Liste mit Tupeln den **gleichen Wert** zu, behalten sie ihre **unterschiedlichen ID**s (*d.h. sie referenzieren andere Stellen im Speicher*):

In [8]:
liste_mit_tupeln[1] += 1,
print(liste_mit_tupeln)

liste_mit_tupeln[0] is liste_mit_tupeln[1]

[(1,), (1,), ()]

*Wie lässt sich nun überprüfen, ob die Elemente den selben Wert unabhängig von der Speicherposition haben?*

Hier offenbart sich der Unterschied zwischen ```==``` und **```is```**. Es ist daher **Vorsicht geboten welche** Art von Vergleich man anwenden will:

In [0]:
liste_mit_tupeln[0] == liste_mit_tupeln[1]

True

Zurück zu den **Abfalldaten** der Steiermark. 

Die Einträge der **Massen** sollen jeweils eindeutig einem **Index zuweisbar** sein, es macht also Sinn sie **zu Tupeln zusammenzufassen**. \
Wir verfahren gleich wie schon im Kapitel 'Listen', geben dieser Liste nun aber auch einen Namen:

In [0]:
indizes_mit_massen = list(zip(indizes,masse_pro_ew))

<div class="alert alert-block alert-info">
    <h3>Tipp: Tupel-Entpackung</h3>
    
Mit Tuple-unpacking kann Elemente aus Kollektionen entpacken und mit ```*``` den Rest einfach auch aufheben:
</div>

In [7]:
a,b,*rest,c,d = range(10)
print(type(rest))
a,b,rest,c,d

<class 'list'>

(0, 1, [2, 3, 4, 5, 6, 7], 8, 9)

*Was aber, wenn wir in einer langen Liste von Werten, genau jenen einer gewissen Gemeinde finden wollen?*

Benutzen wir **Tupel in Listen**, müssten wir **alle** Tupel entpacken und mit unserer Suche **vergleichen**, bis wir unseren Wert finden!

## Wörterbücher

Wörterbücher lösen dieses Problem, indem sie uns einen **Namen direkt einem anderen Objekt zuweisen** lassen.
Dabei steht der **Schlüssel** links, dann ein **Doppelpunkt** und das **Objekt** auf welches der Schlüssel verweist rechts:

In [0]:
Wörterbuch = {'Graz':18924,'Kainbach':5893,'Feldkirchen':6790}

**Abrufen** lassen sich die Werte/Objekte dann einfach **mittels** Eingabe des **Schlüssel**s, anstatt eines Index':

In [0]:
Wörterbuch['Kainbach']

5893

Wir können ein Wörterbuch auch einfach **aus einer Liste mit 2er-Tupeln erstellen**:

In [0]:
dict(indizes_mit_massen)

NameError: name 'indizes_mit_massen' is not defined

Ein **Schlüssel** kann allerdings **nie doppelt** vorkommen!

*Was passiert wenn wir ein Wörterbuch aus folgender Liste machen? Warum?*

In [0]:
liste_mit_doppelten_werten = [(1,'a'),(1,'b')]

In [0]:
dict(liste_mit_doppelten_werten)

{1: 'b'}

Außerdem sind Wörterbücher **mutable Collections**.

Sie können also Werte verschiedener Typen speichern und verändert werden.

*Warum kann man aber Elemente in einem Wörterbuch **so viel schneller** finden als in einer Liste?*

Das liegt daran, dass um einen schnellen Zugriff zu garantieren, \
nicht der Schlüssel sondern sein **Hash -
Wert** abgespeichert wird.

In [0]:
hash("haus")

-877232727830553907

Wie wir bereits wissen: Listen sind **mutabel**, Tupel nicht. \
Deshalb können Listen **keinen Hash-Wert** haben, man kann sie **nicht als Schlüssel** in einem Wörterbuch verwenden:

In [0]:
{():1}

{(): 1}

Deshalb funktioniert auch der **```in```** - Operator **in Listen viel langsamer** als in Wörterbüchern:

In [0]:
test_liste = list(range(99999))
test_wobu  = dict(zip(range(99999),[()]*99999))

# mit dem magic-command %timeit lässt sich messen wie lange
# eine Operation braucht:

%timeit 630 in test_liste
%timeit 630 in test_wobu

6.01 µs ± 151 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
78.9 ns ± 22.3 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In unserem Test-Wörterbuch interessiert uns **nur die Zugehörigkeit** eines Elements. \
Wir haben also den Schlüsseln als **Dummy-Werte leere Tupel** zugewiesen. \
Diese **brauchen wenig Speicher**.

Es gibt aber eine bessere Lösung:

## Mengen

Mengen **gab es in Python lange nicht**. 
Damals wurden Wörterbücher mit **Dummy-Werte**n verwendet
um schnelle Zugehörigkeitstest zu ermöglichen. \
Mit **Mengen** geht das nun **einfacher** und mit weniger 
Speicherbedarf.

Mit ```set``` kann man eine Menge **aus einer Kollektion** erstellen:

In [0]:
set([1,2,3])

{1, 2, 3}

Mengen sind außerdem **mutabel** und eine **Collection**. Werte in ihr müssen aber natürlich **hashable** sein, wie eben bei Wörterbüchern-

Mengen **sehen auch fast so aus wie Wörterbücher**.
Sie werden in **geschwungene Klammern** ```{}``` gefasst, ihre 'Schlüssel' haben aber natürlich **keinen Doppelpunkt und keine Werte**:

In [0]:
type({1,2,3})

set

Aber **Achtung**: ```{}``` ist ein **leeres Wörterbuch**, kein Set!

In [0]:
type({})  ,   type(set())

Eine **leere Menge** erstellt man also mit ```set```.

 Wiederholen wir unseren **Geschwindigkeitstest** von vorher! Diesmal ersetzen wir das Wörterbuch durch eine **Menge**:

In [0]:
test_liste = list(range(99999))
test_menge = set(range(99999))

%timeit 630 in test_liste
%timeit 630 in test_menge

5.72 µs ± 45.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
45.1 ns ± 0.17 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

Auch Mengen sind als **Hash-Tables** implementiert und können daher keine Elemente doppelt enthalten:

In [0]:
set([1,1,1,2])

{1, 2}

Da wir hier nur Schlüssel haben, entfällt der Einfluss der Reihenfolge.

Das sorgt allerdings auch dafür, das Mengen einen **signifikanten** (Speicher-)**Overhead gegenüber Listen** haben:

In [0]:
%timeit list(range(99999))
%timeit set(range(99999))

2.35 ms ± 18.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
5.81 ms ± 195 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

<div class="alert alert-block alert-info">
<h3>Tipp: 'range' als Objekt</h3>
    
In Python 3 gibt die 'range'-Funktion ein eigenes Objekt
zurück, welches den 'in' Operator unterstützt.

Range ist 'lazy'. Das bedeutet: Range erzeugt seine Ausgabewerte
erst wenn ihr sie wirklich abfragt, vorher speichert es nur den
Start-, den Stop- und den Step-Wert. 
Daher kann es einfach ausrechnen ob 630 erzeugt werden würde.
Das ist viel schneller als tatsächlich nachzusehen! (Siehe nächste Zelle)
</div>

In [0]:
%timeit 630 in range(99999)

Der Name 'Menge' hat auch **mathematische Relevanz**, Python-Mengen kann man auch als mathematische nutzen!

### Symbole der Mengenleere in Python
$\setminus \quad \to \quad$ ``` - ``` \
$\cap \quad \to \quad$ ``` & ``` \
$\cup \quad \to \quad$ ``` | ```

Seien a, b zwei Teilmengen von $\mathbb{N}$

In [0]:
a,b = {1,2,3}, {3,4,5}

a - b  ,  a & b  ,  a|b

({1, 2}, {3}, {1, 2, 3, 4, 5})

<div class="alert alert-block alert-info">
<h3>Tipp: Weitere Mengenleere-Äquivalente in Python</h3>

$\in \quad \to \quad$ ``` in ``` \
$\subset \quad \to \quad$ ``` < ``` \
$\subseteq \quad \to \quad$ ``` <= ``` \
$\supset \quad \to \quad$ ``` > ``` \
$\supseteq \quad \to \quad$ ``` >= ``` \
$= \quad \to \quad$ ``` == ``` \
$\ne \quad \to \quad$ ``` != ``` 

</div>

In [0]:
# Hier einfach ausprobieren, zB:
a = {3,4}
b = {3,4,1}
print(a < b)

Wenn wir zum Beispiel wissen wollen. **welche Gemeinden** in unserem Datensatz zu den Abfallwerten **vorkommen**, können wir einfach eine **Menge mit den Namen** erstellen:

In [0]:
gemeinden = set(data_gefiltert.Gemeindename)

In [0]:
gemeinden

{'Admont',
 'Aflenz',
 'Aich',
 'Aigen im Ennstal',
 'Albersdorf-Prebuch',
 'Allerheiligen bei Wildon',
 'Altaussee',
 'Altenmarkt bei St.Gallen',
 'Anger',
 'Ardning',
 'Arnfels',
 'Bad Aussee',
 'Bad Blumau',
 'Bad Gleichenberg',
 'Bad Mitterndorf',
 'Bad Radkersburg',
 'Bad Waltersdorf',
 'Birkfeld',
 'Breitenau am Hochlantsch',
 'Bruck an der Mur',
 'Buch-St.Magdalena',
 'Burgau',
 'Bärnbach',
 'Dechantskirchen',
 'Deutsch Goritz',
 'Deutschfeistritz',
 'Deutschlandsberg',
 'Dobl-Zwaring',
 'Ebersdorf',
 'Edelsbach bei Feldbach',
 'Edelschrott',
 'Eggersdorf bei Graz',
 'Ehrenhausen an der Weinstraße',
 'Eibiswald',
 'Eichkögl',
 'Eisenerz',
 'Empersdorf',
 'Fehring',
 'Feistritztal',
 'Feldbach',
 'Feldkirchen bei Graz',
 'Fernitz-Mellach',
 'Fischbach',
 'Fladnitz an der Teichalm',
 'Floing',
 'Fohnsdorf',
 'Frauental an der Laßnitz',
 'Friedberg',
 'Frohnleiten',
 'Fürstenfeld',
 'Gaal',
 'Gabersdorf',
 'Gaishorn am See',
 'Gamlitz',
 'Gasen',
 'Geistthal-Södingberg',
 'Gersdorf an der Feistritz',
 'Gleinstätten',
 'Gleisdorf',
 'Gnas',
 'Grafendorf bei Hartberg',
 'Gralla',
 'Gratkorn',
 'Gratwein-Straßengel',
 'Graz',
 'Greinbach',
 'Groß St.Florian',
 'Großklein',
 'Großsteinbach',
 'Großwilfersdorf',
 'Grundlsee',
 'Gröbming',
 'Gutenberg-Stenzengreith',
 'Gössendorf',
 'Halbenrain',
 'Hart bei Graz',
 'Hartberg',
 'Hartberg Umgebung',
 'Hartl',
 'Haselsdorf-Tobelbad',
 'Haus',
 'Hausmannstätten',
 'Heiligenkreuz am Waasen',
 'Heimschuh',
 'Hengsberg',
 'Hirschegg-Pack',
 'Hitzendorf',
 'Hofstätten an der Raab',
 'Hohentauern',
 'Ilz',
 'Ilztal',
 'Irdnig-Donnersbachtal',
 'Jagerberg',
 'Judenburg',
 'Kainach bei Voitsberg',
 'Kainbach bei Graz',
 'Kaindorf',
 'Kalsdorf bei Graz',
 'Kalwang',
 'Kammern im Liesingtal',
 'Kapfenberg',
 'Kapfenstein',
 'Kindberg',
 'Kirchbach-Zerlach',
 'Kirchberg an der Raab',
 'Kitzeck im Sausal',
 'Klöch',
 'Knittelfeld',
 'Kobenz',
 'Krakau',
 'Kraubath an der Mur',
 'Krieglach',
 'Krottendorf-Gaisfeld',
 'Kumberg',
 'Köflach',
 'Lafnitz',
 'Landl',
 'Lang',
 'Langenwang',
 'Lannach',
 'Lassing',
 'Laßnitzhöhe',
 'Lebring-St.Margarethen',
 'Leibnitz',
 'Leoben',
 'Leutschach an der Weinstraße',
 'Lieboch',
 'Liezen',
 'Ligist',
 'Lobmingtal',
 'Loipersdorf bei Fürstenfeld',
 'Ludersdorf-Wilfersdorf',
 'Maria Lankowitz',
 'Mariazell',
 'Markt Hartmannsdorf',
 'Mautern in Steiermark',
 'Mettersdorf am Saßbach',
 'Michaelerberg-Pruggern',
 'Miesenbach bei Birkfeld',
 'Mitterberg-Sankt Martin',
 'Mitterdorf an der Raab',
 'Mooskirchen',
 'Mortantsch',
 'Murau',
 'Mureck',
 'Murfeld',
 'Mühlen',
 'Mürzzuschlag',
 'Naas',
 'Nestelbach bei Graz',
 'Neuberg an der Mürz',
 'Neudau',
 'Neumarkt in der Steiermark',
 'Niederwölz',
 'Niklasdorf',
 'Obdach',
 'Oberhaag',
 'Oberwölz',
 'Ottendorf  an der Rittschein',
 'Paldau',
 'Passail',
 'Peggau',
 'Pernegg an der Mur',
 'Pinggau',
 'Pirching am Traubenberg',
 'Pischelsdorf am Kulm',
 'Preding',
 'Premstätten',
 'Proleb',
 'Puch bei Weiz',
 'Pusterwald',
 'Pölfing-Brunn',
 'Pöllau',
 'Pöllauberg',
 'Pöls-Oberkurzheim',
 'Pölstal',
 'Raaba-Grambach',
 'Radmer',
 'Ragnitz',
 'Ramsau am Dachstein',
 'Ranten',
 'Ratten',
 'Rettenegg',
 'Riegersburg',
 'Rohr bei Hartberg',
 'Rohrbach an der Lafnitz',
 'Rosental an der Kainach',
 'Rottenmann',
 'Scheifling',
 'Schladming',
 'Schwanberg',
 'Schwarzautal',
 'Schäffern',
 'Schöder',
 'Seckau',
 'Seiersberg-Pirka',
 'Selzthal',
 'Semriach',
 'Sinabelkirchen',
 'Spielberg',
 'Spital am Semmering',
 'St.Andrä-Höch',
 'St.Anna am Aigen',
 'St.Barbara im Mürztal',
 'St.Bartholomä',
 'St.Gallen',
 'St.Georgen am Kreischberg',
 'St.Georgen an der Stiefing',
 'St.Georgen ob Judenburg',
 'St.Jakob im Walde',
 'St.Johann im Saggautal',
 'St.Johann in der Haide',
 'St.Josef in der Weststeiermark',
 'St.Kathrein am Hauenstein',
 'St.Kathrein am Offenegg',
 'St.Lambrecht',
 'St.Lorenzen am Wechsel',
 'St.Lorenzen im Mürztal',
 'St.Marein bei Graz',
 'St.Marein im Mürztal',
 'St.Marein-Feistritz',
 'St.Margarethen an der Raab',
 'St.Margarethen bei Knittelfeld',
 'St.Martin am Wöllmißberg',
 'St.Martin im Sulmtal',
 'St.Michael in der Obersteiermark',
 'St.Nikolai im Sausal',
 'St.Oswald bei Plankenwarth',
 'St.Peter am Kammersberg',
 'St.Peter am Ottersbach',
 'St.Peter im Sulmtal',
 'St.Peter ob Judenburg',
 'St.Peter-Freienstein',
 'St.Radegund bei Graz',
 'St.Ruprecht an der Raab',
 'St.Stefan im Rosental',
 'St.Stefan ob Leoben',
 'St.Stefan ob Stainz',
 'St.Veit in der Südsteiermark',
 'Stadl-Predlitz',
 'Stainach-Pürgg',
 'Stainz',
 'Stallhofen',
 'Stanz im Mürztal',
 'Stattegg',
 'Stiwoll',
 'Straden',
 'Strallegg',
 'Straß in Steiermark',
 'Stubenberg',
 'Söchau',
 'Söding-St.Johann',
 'Sölk',
 'Teufenbach-Katsch',
 'Thal',
 'Thannhausen',
 'Thörl',
 'Tieschen',
 'Tillmitsch',
 'Traboch',
 'Tragöß-Sankt Katharein',
 'Trieben',
 'Trofaiach',
 'Turnau',
 'Unterlamm',
 'Unzmarkt-Frauenburg',
 'Vasoldsberg',
 'Voitsberg',
 'Vorau',
 'Vordernberg',
 'Wagna',
 'Wald am Schoberpaß',
 'Waldbach-Mönichwald',
 'Weinitzen',
 'Weiz',
 'Weißkirchen in der Steiermark',
 'Wenigzell',
 'Werndorf',
 'Wettmannstätten',
 'Wies',
 'Wildalpen',
 'Wildon',
 'Wundschuh',
 'Wörschach',
 'Zeltweg',
 'Öblarn',
 'Übelbach'}

### *Was aber, wenn wir eine Kollektion multiplizieren wollen?*
### *Was wenn wir zwei Kollektionen elementweise addieren wollen?*

Mit Listen oder Tupeln bekommen wir nur längere Kollektionen:

In [0]:
[1,2,3] * 3  ,  (1,2,3) * 3

Dicts und Sets können ein ELement nicht doppelt enthalten.

*Was passiert wenn wir sie multiplizieren?*

In [0]:
try:
    {1,2,3}*3
except TypeError as e:
    print(e)

<div class="alert alert-block alert-info">
<h3>Tipp: try - except - Blöcke</h3>
    
Mit try + except könnt ihr Fehlermeldungen abfangen.
Allerdings ist dabei vorsicht geboten! Fängt man einfach
jeden Fehler ab, wird der eigene Code nicht fehlerfrei
sondern die Fehler nur weniger sichtbar.

Try-Except-Blöcke eignen sich besonders dann, wenn man
nicht weiß, welche Eingaben Nutzer dem Programm geben.
</div>

## Vektoren und Matrizen

.. bieten die schnellste Variante mit Kollektionen **elementweise Operationen** zu ermöglichen.

Um mit **Vektoren und Matrizen** rechen zu können müssen wir die Bibliothek ```numpy``` importieren:

In [0]:
import numpy as np

In [0]:
# Führe diesen Befehl aus um Numpy zu installieren:
try: 
    import numpy as np
except ModuleNotFoundError:
    %pip install numpy

Ein Vektor lässt sich dann einfach mit ```np.array``` **erstellen und** dann auch gleich **multiplizieren**:

In [0]:
vektor = np.array(range(10))
vektor * 2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

Eine Matrix ist dann einfach ein **Vektor welcher Vektoren als Elemente** beinhält.

In [0]:
matrix = np.matrix([range(3)]*3)

matrix*3

matrix([[0, 3, 6],
        [0, 3, 6],
        [0, 3, 6]])

**Matrix-Multiplikation** benutzt dann den speziellen **Operator** ```@```!

In [0]:
matrix @ matrix

matrix([[0, 3, 6],
        [0, 3, 6],
        [0, 3, 6]])

**Achtung!** Vor Python Version ```3.5``` gibt es dieses ```@``` nicht! \
In dem Fall benutzt man besser ```np.matrix``` und ```*```. Diese Matrizen können aber **nur 2-dimensional** sein.

Als **Vergleich** zu den vorherigen Kollektions-Typen soll auch hier der **Geschwindigkeitstest zur Zugehörigkeitsprüfung** vollzogen werden:

In [0]:
test_vektor = np.array(range(99999))

%timeit 630 in test_vektor

62.2 µs ± 885 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Die Masse des Abfalls in unserer Datenbank ist in \[kg\] gegeben.

*Wie wandeln wir sie in Tonnen um?*

In [0]:
UMRECHNUNGSFAKTOR = 0.001

np.array(data_gefiltert["Masse in kg"])*UMRECHNUNGSFAKTOR

array([5.0927769e+04, 8.8308700e+03, 2.1996780e+04, ..., 9.5300000e+00,
       8.4000000e-01, 2.1650000e+00])

<div class="alert alert-block alert-info">
<h3>Tipp: Groß-, Kleinschreibung und Unterstriche</h3>
    
In Python gibt es einige **Konventionen** was die Benennung von Variablen, Konstanten, Objekten, und Definitionen betrifft.

```KONSTANTE``` $\to$ Eine Konstante wird mit Großbuchstaben benannt. Sie soll konstant bleiben! \
```name_einer_variable``` $\to$ Variablen werden in Kleinbuchstaben geschrieben. \
```KlassenName``` $\to$ Erstellt man eine Klasse, wirname_einer_d nur jeder erste Buchstabe groß geschrieben. \
```name_einer_funktion``` $\to$ Funktionen und Variablen haben oft zur besseren Verständlichkeit längere Namen.

Wörter trennt man mit Unterstrich ```_``` 
</div>

## Slices (Scheibchen)
Elemente von **Kollektionen** in Python lassen sich nicht nur einzeln über ihren Index aufrufen. \
Man kann die Kollektionen auch **in Scheibchen schneiden**.

Slices funktionieren ganz **ähnlich** wie ```range```. Sie haben einen ```start``` - und einen ```stop``` - Wert und einen Wert
```step``` für die Schrittweite. \
Um eine Kollektion zu zerschneiden, setzen wir diese **Werte in dieser Reihenfolge**
in **eckige Klammern** ```[]``` nach der Kollektion.

In [0]:
null_bis_zehn = list(range(10))
null_bis_zehn[3:7:2]

[3, 5]

Setzt man **keinen Wert** ```step``` für die Schrittweite ist sie **automatisch 1**:

In [0]:
tuple(range(10))[3:6:]

(3, 4, 5)

Lässt man den ```start``` - Wert **weg**, wird er **als 0 interpretiert**:

In [0]:
list(range(10))[:6]

[0, 1, 2, 3, 4, 5]

Bei einer Slice **ohne Endwert**, ist dieser gleich der **Länge der Kollektion**:

In [0]:
tuple(range(10))[3::2]

(3, 5, 7, 9)

### Slices sind äußerst vielseitig:

Wir können **jedes zweite** Element wählen:

In [0]:
null_bis_zehn[::2]

[0, 2, 4, 6, 8]

Oder eine Liste **umkehren**:

In [0]:
null_bis_zehn[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Oder eine **Kopie** einer Kollektion erstellen: (*der Typ bleibt dabei gleich*)

In [0]:
null_bis_zehn[::] is null_bis_zehn

False

*Wie erhält man rückwärts jedes zweite Element?*

In [0]:
null_bis_zehn[-1::-2]

### Slices funktionieren auch als Objekte
Wie bei ```range``` kann man auch einer **Slice als Objekt** einen Namen geben. \
Man erzeugt eine solche mittels:
```slice( start, stop, step)```

Das ist dann praktisch, wenn man **mehrere Listen gleich zerschneiden** will.

Eine **Datenbank** wurde uns **in** mehreren **gleich geordneten Listen** übergeben. \
Wir wollen jeweils nur **jedes zweite Element** dieser Datenbank, ab dem
**50sten** jeweiligen Element **bis zum 100sten**.

*Welche Werte müssen wir setzen?*

In [0]:
startwert = 50
endwert = 101
schrittwert = 2

ausschnitt = slice(startwert, endwert, schrittwert)

In [0]:
type(ausschnitt)

slice

In [0]:
# Die Anwendung funktioniert wieder mittels eckiger Klammern:
list(range(200))[ausschnitt]

[50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

# Pause

<div class="alert alert-block alert-warning">
    <h2>Ausdrücke</h2>
    
Python kennt einige **Schlüsselwörter** welche sogenannte **Ausdrücke** einleiten. \
Ein Ausdruck wird mit einem **Doppelpunkt** ```:``` beendet. \
Ihm folgt ein sogenannter **Block** welcher mit **4 Leerzeichen** eingerückt ist. \
Dieser Block gehört zum Ausdruck und wird **abhängig von diesem ausgeführt**.
<br/><br/>

Alle Zeilen welche mit derselben **Anzahl an Leerzeichen** beginnen, \
werden einem **Block zugehörig** interpretiert.
<br/><br/>

Einer der wichtigsten Formen von Ausdrücken sind **Funktionen**.
</div>

## Funktionen
Das Schlüsselwort um eine Funktion zu erstellen lautet ```def```

Darauf folgt dann der **Name** der Funktion. 
In der folgenden **Klammer** weißt man allen **Argumenten** \
welche die Funktion übernehmen soll **ihre Namen** zu.

Ein weiteres wichtiges Schlüsselwort ist ```return``` nach welchem der **Rückgabewert** der Funktion folgt.

<div class="alert alert-block alert-info">
<h3>Tipp: Funktionsaufrufe in Python</h3>
    
Wie wir bereits wissen, ist eine **Variable** in Python nur ein Name welcher einer **ID** eines im Speicher liegenden **Objekt**s zugewiesen ist. \
Was erhält nun eine Funktion als **Argument** wenn wir sie aufrufen?
+ Eine Kopie des Objekts?
+ Den Namen?
+ Die ID?

Nichts von alledem! Sie erhält **einen neuen Namen** für die selbe **ID**, also auch **das selbe Objekt**. \
Dementsprechend kann sie ein mutables Objekt verändern, nicht aber dessen ID.
</div>

In [0]:
def funktionsname(argument1,argument2,):
    ergebnis = argument1 - argument2
    return ergebnis

type(funktionsname)

function

Mit dem **Schlüsselwort** ```lambda``` lässt sich eine Funktion auch **in nur einer Zeile** definieren.

In [0]:
lambdafunktion = lambda argument1,argument2: argument1 - argument2

type(lambdafunktion)

function

Außerdem muss ihr dabei **kein Name** zugewiesen werden.

In [0]:
type(lambda argument1,argument2: argument1 - argument2)

function

Man bezeichnet ```lambda``` - Funktionen daher auch als **anonyme Funktionen**.

<div class="alert alert-block alert-info">
<h3>Tipp: Funktionen als Bürger erster Klasse</h3>
    
```lambda``` - Ausdrücke sind **nützlicher** als man auf den ersten Blick denkt. \
In Python stellen **Funktionen 'Bürger erster Klasse'** dar. Das heißt,
dass Funktionen andere **Funktionen als Argument** übernehmen **oder als Ergebnis** ausgeben können. \
Die Funktion ```map``` nimmt zB eine Funktion mit einem Argument, und wendet sie auf
alle Elemente einer Kollektion an:
</div>

In [0]:
list(map(lambda x: x*x,range(10)))

<div class="alert alert-block alert-info">

Wie man sieht, musste keine Funktion ```quadrat``` definiert werden.
Eine anonyme ```lambda``` - Funktion übernimmt stattdessn die Aufgabe \
ein Objekt der Klasse ```'function'``` zu erstellen.

In der Tipp - Box zu ```range``` weiter oben kann man eine weitere Anwendung
der Funktionen als Bürger erster Klasse erkennen. \
Wir werden **später** und vor allem im **Teil 6 (Functional Programming)** dieser Lehrveranstaltung noch mehr von Funktionen als First-Class-Citizens profitieren.
</div>

Wieder zur **Abfalldatenbank**.

Wir wollen die Angaben **einzelner Massen von Kilogramm in Tonnen** umwandeln!

Also definieren wir eine Funktion ```kg_in_t```:

In [0]:
def kg_in_t(masse):
    return masse * 10**-3

Wir können auch gleich **testen** ob diese Funktion das macht, was wir erwarten:

In [0]:
kg_in_t(1000)

1.0

## Konditionelle Ausdrücke
Es kommt sehr häufig vor, dass wir abhängig von einer **Kondition** \
einen gewissen **Teil** eines Programmes **ausführen** wollen oder einen anderen.

Mit den Schlüsselwörtern ```if```, ```else``` und ```elif``` kann man genau das erreichen!

+ ```if```  erwartet eine Variable, Operation oder Funktion, welche 
  als ```True``` oder ```False``` interpretiert werden kann. \
  Danach folgt ein **Doppelpunkt** und ein **Code - Block** welcher 
  im Fall von ```True``` ausgeführt wird.

+ ```else:``` **folgt** nach diesem Block und wird genausoweit eingerückt wie das vorherige ```if```. \
  Ihm folgt ein **Block** welcher ausgeführt wird falls zuvor ```False``` dem ```if``` folgte.

+ ```elif``` ist kurz für ```else``` + ```if```. 
  Es **folgt** also auf einen ```if``` - Block, leitet aber selbst einen **neuen** ein.

In [0]:
variable = 6
if variable > 5:
    print("Yes")
else:
    print("No")

Yes

<div class="alert alert-block alert-info">
<h3>Tipp: Kurzschlüsse von logischen Operatoren</h3>
    
Steht ein ```False``` vor einem ```and``` oder ein ```True``` vor einem ```or``` \
so ist das Ergebnis schon ohne den Operator berechnen zu müssen bekannt.

Python macht daher sogenannte **Kurzschlüsse** und sieht sich gar nicht mehr an, \
welches zweite Argument dem Operator übergeben wurde.

Wie man folgenden Beispiel sieht, ergibt dann die Division durch 0 keinen Fehler, \
sie muss schließlich nie berechnet werden.
</div>

In [0]:
print(True and ())
print("") # Leerzeile
# Short-Circuit Beispiele:
print(False and ())
print(True or (1/0))

Zum **Abfallsdatensatz**.

Wir wollen einen **Grenzwert** setzen ab welchem der Wert für 'kg Abfall pro Person' alarmierend wird:

In [0]:
def alarm(nr,kg_pro_pers):
    if kg_pro_pers > 100:
        print("Alarm! Nr: %.2f überschreitet Grenzwert!"%nr)
        
    # Das else kann hier ausgelassen werden, dient jedoch 
    # der Code-Qualität
    else:
        pass

In [0]:
alarm(1,120)

Alarm! Nr: 1.00 überschreitet Grenzwert!

Eine **Warnung bevor Grenzwerte überschritten werden** ist praktisch also bauen wir auch eine solche ein!

In [0]:
GRENZWERT = 100
WARNWERT  = GRENZWERT - GRENZWERT/10

def warnung_und_alarm(nr,kg_pro_person):
    if kg_pro_person > GRENZWERT:
        print("Alarm! Nr: {} überschreitet Grenzwert!".format(nr))
    elif kg_pro_person > WARNWERT:
        print("Achtung! Nr: {} ist nah am Grenzwert!".format(nr))
    else:
        print("Nr {} passt.".format(nr))

In [0]:
warnung_und_alarm(0,80)

Nr 0 passt.

<div class="alert alert-block alert-info">
<h3>Tipp: Leerzeichen in Formeln</h3>
    
Python weiß von selbst, dass Punkt - vor Strich - Rechnung erfolgt. \
Allerdings lässt sich eine Formel im Code schneller lesen und verstehen, \
wenn man die später erfolgenden Rechenoperationen mit Beistrichen versieht.

Aus ```a-b/2``` wird also ```a - b/2```. \
Und aus ```a*b**2``` dann ```a * b**2```.
</div>

## Rekursive Funktionen

Funktionen können sich auch **selbst aufrufen**. Solche Funktionen nennt man dann **rekursiv**.

Ein **Countdown** kann zum Beispiel als solche **implementiert** werden:

*Mit sleep können wir den Computer zwischendurch etwas warten lassen. Das brauchen wir dann gleich.*

In [0]:
from time import sleep

In [0]:
def countdown(startwert):
    if startwert < 0:
        return None
    else:
        print(startwert, end=' ')
        sleep(0.5)
        countdown(startwert-1)

In [0]:
countdown(10)

10 9 8 7 6 5 4 3 2 1 0

<div class="alert alert-block alert-info">
    
<h3>Tipp: Strings formatieren mit '%'</h3>
    
Als Beispiel eine etwas schönere Countdown-Funktion. \
Mit ```'\r'``` lassen wir die Ausgabe immer wieder
von vorne starten. \
Mit ```'%i'``` sagen wir Python, dass wir eine Ganzzahl
in unseren String setzen wollen. \
Mit ```%startwert``` nach dem String geben wir Python
dann den passenden Wert dazu:
</div>

In [0]:
def countdown(startwert):
    if startwert < 0:
        return None
    else:
        print("\r%i"%startwert, end=' ')
        sleep(1)
        countdown(startwert-1)
        
countdown(10)

<div class="alert alert-block alert-info">
    <h3>Tipp: Strings formatieren mit '{}' und .format()</h3>
    
Das selbe lässt sich auch mit ```'{}'``` an der Einsetz - Stelle im String erledigen. \
Den passenden Wert der gibt man dem String dann mittels ```.format()``` :
</div>

In [0]:
"Fünf ist: {}".format(5)

Im **Abfallsdatensatz** wollen wir die **Werte für eine Stadt aufsummieren** können.

*Wie kann das unsere Funktion* ```summe``` *bewerkstelligen?*

In [0]:
def summe(werte):
    #
    #
    # 
    return summe(werte) + #

summe(list(range(11)))

Hier eine **Lösung**:

In [0]:
def summe(werte):
    a,*rest = werte
    if rest != []:
        return a + summe(rest)
    else:
        return a
    
summe([1,2,3])

6

**Achtung!** Rekursive Funktionen verursachen schnell Probleme in Python. \
Nämlich genau dann, wenn sie sich **zu oft selbst aufrufen** müssen:

In [0]:
try:
    summe(list(range(9999)))
except Exception as e:
    print(e)

maximum recursion depth exceeded while calling a Python object

<div class="alert alert-block alert-info">
<h3>Tipp: Der Python-Stack.</h3>
    
Der Stack stellt das Limit für die Aufrude dar. Jedes Mal wenn sich die
rekursive Funktion selbst aufruft merkt sich das Python und fügt
einen Eintrag zum Stack hinzu. Seine maximale Größe in Python liegt bei
circa 1000 Einträgen.

Einen Stack kann man sich vorstellen wie einen Stapel Papier, wo immer
wieder ein Blatt oben hinzugefügt wird. Man hat also immer nur
Zugriff auf das oberste Blatt Papier. 
Dieses Konzept nennt man "LIFO" - Last in, first out.

Ein verwandtes Konzept wird "FIFO" genannt - wofür steht diese Abkürzung?
</div>

+ #### Was ist die Lösung für dieses Problem?

## Die While-Schleife
```while``` - **Schleifen** führen einen Code-Block so lange aus, wie eine **Bedingung erfüllt** ist. \
Ist die Bedingung **nicht (mehr) erfüllt**, fährt Python mit dem **Code nach der Einrückung** fort.

Wir schreiben die Funktion ```summe``` so um, dass sie die **Summe über eine while-Schleife** bildet:

In [0]:
def while_summe(werte):
    summe = 0
    while(werte != []):
        a, *werte = werte
        summe += a
    return summe

Diese Funktion kann nun auch große Kollektionen übernehmen:

In [0]:
while_summe(range(6))

15

Mit einem ```else:``` Ausdruck nach einer ```while``` - Schleife lässt sich ein **Block einmalig** ausführen, \
wenn die Bedingung nicht (mehr) erfüllt ist.

In [0]:
i = 10 
while i >= 0:
    if i == 6:
        continue 
    print("\r%i"%i,end=' ')
    sleep(0.5)
    i-=1
    
else:
    print("\r%i :Success!"%i)

7

Wenn wir **gewarnt** werden wollen sobald der **Grenzwert überschritten** ist, können wir dieses ```else``` nutzen:

In [0]:
# 
grenzwert_überschritten = lambda wert: wert > 100

wert = #
while not grenzwert_überschritten(wert):
    wert += 1
else:
#    print("Überschreitung!")

<div class="alert alert-block alert-info">
<h3>Tipp: Control - Flow und Else nach Schleifen</h3>
    
Wichtig für dem **Control - Flow** im engeren Sinne sind die Schlüsselwörter ```continue``` und ```break```. \
Beide können nur **innerhalb einer Schleife** verwendet werden.

Stößt der Python-Interpreter auf ein ```continue```, so **springt** er wieder **auf die erste Zeile** des Blocks innerhalb der Schleife.

Bei einem ```break``` **bricht die Schleife ab**. Das ```else:``` - Statement nach der Schleife wird dabei **nicht** ausgeführt.
</div>

## For-Schleife
Oftmals wollen wir mit einer Schleife **Element für Element einer Kollektion aufrufen** können. Hier eignet sich ```for``` besonders gut.

Diese Schleife **ruft alle Elemente hintereinander auf**. Sie weißt dem **aktuellen Element** immer auch einen **Namen** zu, sodass wir das Element nicht mehr in der Kollektion suchen müssen.

Nutzen wir die ```for``` **- Schleife** um die Funktion ```range``` genauer **kennenzulernen**.

Die Schleife **weißt jedem Element** welches von ```range``` erzeugt wird **nacheinander den Namen** ```it``` zu. \
Wir lassen uns dann den Wert von ```it``` mit ```print``` im **Körper** der Schleife (*also dem eingerückten Block*) ausgeben:

In [0]:
for it in range(0,10,2): 
    if it == 6:
        continue
    print(it, end=' | ')

0 | 2 | 4 | 8 |

In einer ```for``` - Schleife können wir auch **Tupel in einer Kollektion entpacken**:

In [0]:
ränge = zip([1,2,3,4,5] , ['Gold','Silber','Bronze','Blech','Pech'])

for (nummer, medaille) in ränge:
    print("{}. - {}".format(nummer, medaille))

1. - Gold
2. - Silber
3. - Bronze
4. - Blech
5. - Pech

*Was passiert, wenn wir 'zip' zwei Kollektionen unterschiedlicher Länge geben?*

Oftmals wollen wir die **Werte eines Wörterbuches entpacken**. Das geht indem wir auf dem Wörterbuch-Objekt die **Methode** ```items``` aufrufen.

In [0]:
wb = {'Graz':564, 'Linz':498, 'Salzburg':431}
for _, wert in wb.items():
    print(wert)

564
498
431

<div class="alert alert-block alert-info">
<h3>Tipp: Nutzen von Unterstrichen zur Namensgebung</h3>
    
Oft kommt es **beim Entpacken von Tupeln** dazu, dass wir nur an einem Teil \
der im Tupel enthaltenen Werte interessiert sind. \
Dann weisen wir jedem Wert an dem wir nicht interessiert sind den Namen ```_``` zu. \

>_Verwendet man Python's [text.gettext](https://docs.python.org/3/library/gettext.html#gettext.install) empfiehlt es sich, zwei Unterstriche zu verwenden. \
```_``` wird dort als Funktion definiert._ 

Wollen wir eine **Funktion, Klasse oder Variable** definieren, \
auf welche nur innerhalb unseres Codes zugegriffen werden soll, \
so setzen wir einen Unterstrich vor dessen Namen: \
```_interne_variable```.
</div>

Nun wollen wir über die Reihen unserer **Abfallsdatenbank** gehen und die **Gesamtmenge an Müll je Standort** ermitteln.

Zuerst schauen wir nach **welche Werte in der Datenbank sind**, um sie in der richtigen Reihenfolge entpacken zu können:

In [0]:
data_gefiltert.keys()

Index(['Jahr', 'VKZ', 'Abfallwirtschaftsverband', 'GKZ_2015', 'Gemeindename',
       'EW_Gde', 'HFR', 'Abfallgruppen', 'FNr', 'Abfallfraktion',
       'Masse in kg', 'kg/EW'],
      dtype='object')

Um die Masse je Standort zu **summieren**, erstellen wir ein **leeres Wörterbuch**. Nach und nach wollen wir **Standorte hinzufügen**.

*Was sollte im Körper der Schleife stehen?*

In [0]:
ergebnis = {}

for _,_,_,name,*_,masse,_ in data_gefiltert.itertuples():
    #
    #
    #
else:
    print("Schleife erfolgreich abgeschlossen!")

In [0]:
ergebnis

Die **Lösung** für die vorhergehende Schleife:

In [0]:
ergebnis = {}

for _,_,_,name,*_,masse,_ in data_gefiltert.itertuples():
    a = ergebnis[name] 
    ergebnis[name] = a + masse
else:
    print("Schleife erfolgreich abgeschlossen!")

ergebnis

KeyError: 'Graz-Stadt'

## List - Comprehensions
Wir können aber auch die **Konstruktion** einer Liste **mit** der praktischen Darstellung einer ```for``` **- Schleife direkt verbinden**. \
Dies lässt sich einfach mit einer ```list``` - Comprehension bewerkstelligen.

Die **Semantik kehrt sich dabei um** und man benutzt zuerst das Element und **beschreibt dann woher** das Element mit diesem Namen kommen soll.\
Dies alles geschieht **in eckigen Klammern** ```[]```.

Eine **Liste mit Quadraten von Ganzzahlen bis 10** lässt sich so konstruieren:

In [0]:
[x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Wir erinnern uns an das Problem, der mehrfach-Referenzen in der ```liste_von_listen```:

In [0]:
liste_mit_listen = [[]]*3
liste_mit_listen[0].append(6)
liste_mit_listen

[[6], [6], [6]]

Dieses Problem/Diese Falle lässt sich **mit List-Comprehensions vermeiden**:

In [0]:
liste_mit_listen_comp = [[] for _ in range(3)]
liste_mit_listen_comp[0].append(6)
liste_mit_listen_comp

[[6], [], []]

## Weitere Comprehensions
Ganz ähnlich zu List Comprehensions funktionieren auch **Comprehensions für andere Kollektions-Typen**.

**Set-Comprehensions** verwenden geschwungene anstatt eckiger Klammern ```{}``` und **erstellen Mengen**:

In [0]:
{it for it in range(6)}

{0, 1, 2, 3, 4, 5}

**Dict-Comprehensions** kombinieren in geschwungenen Klammern Schlüssel und Wert ```{:}``` zu einem **Wörterbuch-Eintrag**:

In [0]:
{k:str(k) for k in range(6)}

{0: '0', 1: '1', 2: '2', 3: '3', 4: '4', 5: '5'}

#### Generator-Expressions
Sie sehen aus wie List-Comprehensions **mit normalen Klammern.** \
Diese erzeugen **keine Tupel!** 
Stattdessen erzeugen sie ähnlich wie die ```range``` - Funktion ihre \
Elemente Stück für Stück erst wenn diese mit ```next``` abgerufen werden. \
Dies nennt man **'lazy - evaluation'**:

In [0]:
gen = (x*x for x in range(6))

In [0]:
next(gen)

4

## Zusammenfassung

+ Anaconda
+ Typen
+ Kollektionen
+ Funktionen
+ If-Abfragen
+ Rekursion
+ Schleifen
+ Comprehensions

<div class="alert alert-block alert-danger">
<h3>Übungsaufgabe: Das FizzBuzz - Beispiel</h3>
    
Ein beliebtes Beispiel in Bewerbungsgesprächen ist FizzBuzz. \
Damit soll überprüft werden, ob der_die Bewerber_In Programmier - \
Grundkonzepte verstanden hat und anwenden kann.

Dabei ist das Beispiel ganz einfach!

<br></br>

>Für die Zahlen ```1``` bis ```100```:
>+ Wenn die Zahl durch ```3``` teilbar ist, wird 'Fizz' ausgegeben.
>+ Wenn die Zahl durch ```5``` teilbar ist, wird 'Buzz' ausgegeben.
>+ Ist die Zahl durch beides teilbar, soll 'FizzBuzz' ausgegeben werden.
>+ In allen anderen Fällen soll einfach die Zahl ausgegeben werden.

Tipp: Der Modulo-Operator ```%``` könnte hilfreich sein ;)
</div>

In [8]:
for it in range(100): print(int(it%3/2)*"Fizz" + int(it%5/4)*"Buzz" or it+1)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz